@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --montse: 'Montserrat', sans-serif;
  /* Primary color palette */
  --white: #fff;
  --black: #000;
  --black-blur: #19222e;
  --black-faded: #233142;
  --mainly-blue: #264653;
  --mainly-green: #2a9d8f;
  --lavender: #dfdbe5;
  --mustard: #e9c46a;
  --orangish: #f4a261;
  --coralish: #e76f51;
  /* Secondary palette */
  --lightgray: #e3e3e3;
  --vanilla: #f2ece4;
  --seablue: #b2c9d8;
  --bluehover: #ccdfeb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--coralish) var(--orangish);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--coralish);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--orangish);
  border-radius: 20px;
  border: 3px solid var(--coralish);
}

body {
  margin-top: 1.5em;
  background-color: var(--vanilla);
}

html {
  font-family: var(--montse);
  text-transform: capitalize;
  color: var(--mainly-blue);
}

li {
  list-style-type: none;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.fahrenheit-color {
  background-color: var(--vanilla);
}

.celsius-color {
  background-color: var(--black-faded);
  color: var(--vanilla);
}

.search-label {
  width: 100%;
}

.search {
  margin-left: 10px;
  padding: 10px 35px 10px 15px;
  border: 1px solid black;
  border-radius: 100px;
  outline: none;
}

.input-container {
  display: flex;
  align-items: center;
}

.submit {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: -33px;
}

.msg {
  visibility: hidden;
  color: var(--white);
  text-align: center;
  height: 55px;
  width: 350px;
  padding: 0.8em;
  background-color: var(--black-blur);
  border: 4px solid var(--coralish);
  border-radius: 10px;
  font-weight: bold;
  opacity: 0.8;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.city-name {
  font-size: 2.5em;
}

.temp-value {
  font-size: 3em;
}

.temp-secondary {
  font-size: 1.25em;
  font-weight: bold;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  width: 90vw;
}

.weather-outlook {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 1em;
  line-height: 1.5;
  font-size: 0.9em;
}

.card__ul {
  width: 150px;
}

.weather-outlook__header {
  margin-bottom: 0.75em;
}

.temp-value-small {
  font-size: 1.5em;
  font-weight: bold;
}

.weather-display {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 1em;
}

.left-display {
  line-height: 1.75;
}

.right-display {
  line-height: 2.25;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: '';
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
  background: var(--coralish);
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

@media screen and (max-width: 850px) {
  .hero {
    flex-direction: column;
  }

  .msg {
    margin-top: 1em;
  }
}

@media screen and (max-width: 600px) {
  .weather-display {
    justify-content: space-around;
  }
}
