@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

:root {
  --raleway: 'Raleway', sans-serif;
  /* Primary color palette */
  --white: #fff;
  --black: #000;
  --black-blur: #19222e;
  --black-faded: #233142;
  --charcoal: #455d7a;
  --coral: #f95959;
  --lightgray: #e3e3e3;
  /* Secondary palette */
  --vanilla: #f2ece4;
  --brickblue: #b2c9d8;
  --bluehover: #ccdfeb;
  --salmon: rgba(250, 128, 114, 1);
  --salmonlgt: rgba(250, 128, 114, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

body {
  margin-top: 1.5em;
}

html {
  font-family: var(--raleway);
  text-transform: capitalize;
}

li {
  list-style-type: none;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  width: 90vw;
}

.weather-outlook {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 1em;
}

.card__ul {
  width: 150px;
}

.weather-display {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  line-height: 1.75;
}
